<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css" />
		<script type="text/javascript" src="../static/layui/layui.js"></script>
	</head>

	<body>
		<form class="layui-form">
			<div class="layui-form-item" style="width: 300px;padding-top: 20px;">
				<label class="layui-form-label">账号框</label>
				<div class="layui-input-block">
					<input type="text" name="title" required lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">密码框</label>
				<div class="layui-input-inline">
					<input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"/>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>

		</form>

	</body>

</html>